{% extends 'base.html' %}
{% load static %}

{% block title %}
    {{ todo_lists_object.name }}
{% endblock title %}

{% block content %}
    <main>
        <div>
            <h1>Reminders</h1>
            <p><a href="{% url 'todo_list_update' todo_lists_object.id %}">Edit</a></p>
            <p><a href="{% url 'todo_list_delete' todo_lists_object.id %}">Delete</a></p>
            <h2>Tasks</h2>
            <table>
                <thead>
                    <tr>
                        <th>Task</th>
                        <th>Due date</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in todo_lists_object.items.all %}
                    <tr>
                        <td><a href="{% url 'todo_item_update' item.id %}">{{ item.task }}</a></th>
                        <td>{{ item.due_date }}</th>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </main>
{% endblock content %}
